---
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";
const images = await Astro.glob("/src/assets/photography/2023/*.jpg").then(
  (files) => {
    return files.map((file) => file.default);
  }
);
---

<Layout title="Photography">
  <div class="mx-24 grid grid-cols-3 gap-8 mb-48">
    {
      images.slice(0, 12).map((image, index) => (
        <div>
          <dialog id={`img_modal_${index}`}>
            <Image
              src={image}
              alt={`image-${index}`}
              loading="lazy"
              decoding="async"
              class="rounded-md object-contain max-h-[90vh]"
            />
          </dialog>
          <Image
            src={image}
            alt={`image-${index}`}
            loading="lazy"
            decoding="async"
            class="rounded-md cursor-pointer"
            onclick={`img_modal_${index}.showModal()`}
          />
        </div>
      ))
    }
  </div>
</Layout>
<style>
  dialog::backdrop {
    backdrop-filter: brightness(0);
  }
</style>
