---
import { Image } from "astro:assets";

const { imageSrc, id, alt } = Astro.props;
const size = 800;
---

<div>
  <dialog id={`img_modal_${id}`}>
    <Image
      src={imageSrc}
      alt={alt}
      loading="lazy"
      decoding="async"
      class="rounded-md object-contain max-w-[60vw] max-h-[80vh] m-8"
      width={size}
      height={size}
    />
    <button
      onclick={`img_modal_${id}.close()`}
      class="btn btn-xs absolute bottom-4 right-4"
    >
      Close
    </button>
  </dialog>
  <div class="md:tooltip md:tooltip-bottom md:tooltip-primary mb-4" data-tip={alt}>
    <Image
      src={imageSrc}
      alt={alt}
      loading="lazy"
      decoding="async"
      class="rounded-md cursor-pointer"
      onclick={`img_modal_${id}.showModal()`}
      width={size}
      height={size}
    />
    <p class="md:hidden mt-2">{alt}</p>
  </div>
</div>
<style>
  dialog::backdrop {
    backdrop-filter: brightness(0.1);
  }
</style>
